version: "3.0"

services:

  app:
    image: jekyll/jekyll:3.8.6
    container_name: website
    ports:
      - "4000:4000"
    volumes:
      - ".:/srv/jekyll"
    command: jekyll serve --watch --force_polling --verbose
    environment:
      - JEKYLL_ENV=development