<section class="section projects animate" style="padding-bottom: 0;">
    <div class="container">
        <div class="row">
            <div class="col col-12">
                <div class="container__inner">
                    <div class="section__info">
                        <h2 class="section__title">{{ site.data.settings.codestyle__settings.codestyle__title }}</h2>
                        {% if site.data.settings.codestyle__settings.codestyle__description %}
                        <p class="section__description">{{ site.data.settings.codestyle__settings.codestyle__description }}</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="section projects animate" style="padding-bottom: 0;padding-top: 30px;">
    <div class="container">
        <div class="row">
            <div class="col col-12">
                <div class="container__inner">
                    <h2 class="section__title">Happy to be involved in the these projects</h2>
                    <div class="table-container">
                        <table>
                            <tr>
                                <th>Project</th>
                                <th>Website</th>
                                <th>Description</th>
                            </tr>
                            <tr>
                                <td>Live Score</td>
                                <td><a href="https://www.live-score-app.com" target="_blank">www.live-score-app.com</a></td>
                                <td>Scoreboard graphics solution used for/by MiLB.tv, NHL, ITF, AABaseball.TV and more</td>
                            </tr>
                            <tr>
                                <td>Dockware</td>
                                <td><a href="https://www.dockware.io" target="_blank">www.dockware.io</a></td>
                                <td>Easy plug'n'play Docker images specialized to be used for Shopware, made at dasistweb GmbH</td>
                            </tr>
                            <tr>
                                <td>ORCA</td>
                                <td><a href="https://orca-build.io" target="_blank">www.orca-build.io</a></td>
                                <td>Designed to craft and maintain awesome Docker images with the power of a template engine, made at dasistweb GmbH.</td>
                            </tr>
                            <tr>
                                <td>SVRUnit</td>
                                <td><a href="https://www.svrunit.com" target="_blank">www.svrunit.com</a></td>
                                <td>Testing Framework for Servers, Docker Images, Containers and more...</td>
                            </tr>
                            <tr>
                                <td>Mollie Shopware Plugins</td>
                                <td><a href="https://www.mollie.com" target="_blank">www.mollie.com</a></td>
                                <td>Official Shopware plugins for the Dutch Payment Provider Mollie, made at dasistweb GmbH.</td>
                            </tr>
                            <tr>
                                <td>Mollie Actions Pack for Cypress</td>
                                <td><a href="https://github.com/boxblinkracer/cypress-mollie" target="_blank">https://github.com/boxblinkracer/cypress-mollie</a></td>
                                <td>This is a package of actions that you can use in Cypress when writing tests for Mollie (www.mollie.com). It covers easy actions to fill in credit card data, set a payment status and other things on the sandbox pages of Mollie.</td>
                            </tr>
                            <tr>
                                <td>Cypress TestRail Integration</td>
                                <td><a href="https://github.com/boxblinkracer/cypress-testrail" target="_blank">https://github.com/boxblinkracer/cypress-testrail</a></td>
                                <td>This easy and simple integration helps you to automatically send test results from Cypress to TestRail.</td>
                            </tr>
                            <tr>
                                <td>Ranorex TestRail Integration</td>
                                <td><a href="https://github.com/boxblinkracer/ranorex-testrail" target="_blank">https://github.com/boxblinkracer/ranorex-testrail</a></td>
                                <td>This easy and simple integration helps you to automatically send test results from Ranorex to TestRail.</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>