<section class="section projects animate" style="padding-bottom: 0;">
    <div class="container">
        <div class="row">
            <div class="col col-12">
                <div class="contaniner__inner">
                    <div class="section__info">
                        <h2 class="section__title">{{ site.data.settings.codestyle__settings.codestyle__title }}</h2>
                        {% if site.data.settings.codestyle__settings.codestyle__description %}
                        <p class="section__description">{{ site.data.settings.codestyle__settings.codestyle__description }}</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>