---
layout: default
title: Talks and Webinars
description: Here's a list of talks and webinars that I did so far. I really enjoy sharing knowledge, so if you're interested in a talk, feel free to contact me!
---
<div class="container">
    <div class="page-head">
        <h1 class="page-title">{% if page.title %}{{ page.title }}{% else %}{{ site.data.settings.projects__settings.projects__title }}{% endif %}</h1>
        {% if page.description %}
        <p class="page-description">{{ page.description }}</p>
        {% else site.data.settings.projects__settings.projects__description %}
        <p class="page-description">{{ site.data.settings.projects__settings.projects__description }}</p>
        {% endif %}
    </div>
</div>


<section class="section projects animate" style="padding-bottom: 0;padding-top: 30px;">
    <div class="container">
        <div class="row">
            <div class="col col-12">
                <div class="container__inner">
                    <h2 class="section__title">Upcoming Talks</h2>
                    <div class="table-container">
                        <table>
                            <tr>
                                <th>Event</th>
                                <th>Topic</th>
                                <th>Date</th>
                                <th>Location</th>
                                <th>Link</th>
                            </tr>
                            <tr>
                                <td>Never Code Alone</td>
                                <td>Shopware Demo Projekt mit OpenAI verbinden & Demo-Daten erzeugen</td>
                                <td>13.07.2023</td>
                                <td>Online</td>
                                <td><a target="_blank" href="https://www.youtube.com/watch?v=Nhaqs9kGg4U">YouTube Video</a></td>
                            </tr>
                            <tr>
                                <td>Pimcore User Group (Rhein-Main).</td>
                                <td>PHPUnuhi - Das Dev-Tool zur Validierung und Wartung von Übersetzungen</td>
                                <td>27.07.2023, 6pm</td>
                                <td>Hanau/Online</td>
                                <td><a target="_blank" href="https://www.meetup.com/de-DE/pimcore-ug-rhein-main/events/293779628/">Meetup Registration Page</a></td>
                            </tr>
                            <tr>
                                <td>Mollie x Shopware Developer Meetup</td>
                                <td>How to enhance developer productivity (Fixtures, NGROK, Cypress, ...)</td>
                                <td>19.09.2023, 6pm</td>
                                <td>Cologne</td>
                                <td><a target="_blank" href="https://www.mollie.com/events/mollie-shopware-meetup">Mollie Registration Page</a></td>
                            </tr>
                            <tr>
                                <td>International PHP Conference</td>
                                <td>From the Dream of a Long-lasting Software Architecture</td>
                                <td>23 - 27 Oct. 2023</td>
                                <td>Munich</td>
                                <td><a target="_blank" href="https://phpconference.com/munich/">https://phpconference.com/munich/</a></td>
                            </tr>
                            <tr>
                                <td>International PHP Conference</td>
                                <td>Design Patterns for Sustainable Automatic E2E Tests</td>
                                <td>23 - 27 Oct. 2023</td>
                                <td>Munich</td>
                                <td><a target="_blank" href="https://phpconference.com/munich/">https://phpconference.com/munich/</a></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="section projects animate" style="padding-bottom: 0;padding-top: 30px;">
    <div class="container">
        <div class="row">
            <div class="col col-12">
                <div class="container__inner">
                    <h2 class="section__title">Past Talks</h2>
                    <div class="table-container">
                        <table>
                            <tr>
                                <th>Event</th>
                                <th>Topic</th>
                                <th>Date</th>
                                <th>Location</th>
                                <th>Link</th>
                            </tr>
                            <tr>
                                <td>Never Code Alone</td>
                                <td>Deep Dive into the Shopware AI Demo Data Generator plugin</td>
                                <td>28.06.2023</td>
                                <td>Online</td>
                                <td><a target="_blank" href="https://www.youtube.com/watch?v=k2D8qDS9wu0">YouTube Video</a></td>
                            </tr>
                            <tr>
                                <td>Shopware SCD 2023</td>
                                <td>We Rise Above Beyond</td>
                                <td>24.05.2023</td>
                                <td>Duisburg</td>
                                <td><a target="_blank" href="https://www.youtube.com/watch?v=AEDLVGFQIXQ">YouTube Video</a></td>
                            </tr>
                            <tr>
                                <td>basecom</td>
                                <td>Shopware 6.5 - Deep Dive for Developers</td>
                                <td>03.05.2023</td>
                                <td>Online</td>
                                <td><a target="_blank" href="https://www.youtube.com/watch?v=u8FVYve5Ozk">YouTube Video</a></td>
                            </tr>
                            <tr>
                                <td>CMS Garden</td>
                                <td>PHPUnuhi</td>
                                <td>02.05.2023</td>
                                <td>Online</td>
                                <td>N/A</td>
                            </tr>
                            <tr>
                                <td>Entwickler.de PHP Day</td>
                                <td>PHP 8.2: Safeguarding Your Logs With SensitiveParameters</td>
                                <td>19.04.2023</td>
                                <td>Online</td>
                                <td><a target="_blank" href="https://entwickler.de/php-day/">https://entwickler.de/php-day/</a></td>
                            </tr>
                            <tr>
                                <td>Super Duper Developers Club Podcast</td>
                                <td>In fünf Jahren wird es keine Tester mehr geben</td>
                                <td>21.03.2023</td>
                                <td>Online</td>
                                <td>https://superdev.club/podcasts/in-funf-jahren-wird-es-keine-tester-mehr-geben/</td>
                            </tr>
                            <tr>
                                <td>Backend User Group Osnabrück</td>
                                <td>PHPUnuhi</td>
                                <td>16.03.2023</td>
                                <td>Online</td>
                                <td><a target="_blank" href="https://www.youtube.com/watch?v=yeWyG5R0VZs">YouTube Video</a></td>
                            </tr>
                            <tr>
                                <td>The Code and Coffee Show</td>
                                <td>Learn how to cover your PHP application with tests</td>
                                <td>11.01.2023</td>
                                <td>Online</td>
                                <td><a target="_blank" href="https://www.youtube.com/watch?v=C8fp5nxaZeY">YouTube Video</a></td>
                            </tr>
                            <tr>
                                <td>Mollie Developer Community Meetup</td>
                                <td>Cypress and TestRail for developers</td>
                                <td>16.11.2022</td>
                                <td>Amsterdam</td>
                                <td>N/A</td>
                            </tr>
                            <tr>
                                <td>Buddy Webinar</td>
                                <td>How to automate tests with Cypress and TestRail</td>
                                <td>21.09.2022</td>
                                <td>Online</td>
                                <td><a target="_blank" href="https://www.youtube.com/watch?v=8f6UhnYDJjg">YouTube Video</a></td>
                            </tr>
                            <tr>
                                <td>Never Code Alone</td>
                                <td>Live Coding with Nevercodealone - Dockware</td>
                                <td>23.08.2022</td>
                                <td>Online</td>
                                <td><a target="_blank" href="https://www.youtube.com/watch?v=R1ampxq_N-U">YouTube Video</a></td>
                            </tr>
                            <tr>
                                <td>Shopware TV {DEV}initely</td>
                                <td>Durch die Nacht mit Christian Dangl</td>
                                <td>02.08.2022</td>
                                <td>Online</td>
                                <td><a target="_blank" href="https://tv.shopware.com/de/video/1024412/">Shopware.tv Video</a></td>
                            </tr>
                            <tr>
                                <td>Backend User Group Osnabrück</td>
                                <td>Dockware - Docker mit Twig und Co</td>
                                <td>21.07.2022</td>
                                <td>Osnabrück</td>
                                <td>N/A</td>
                            </tr>
                            <tr>
                                <td>Shopcast.fm Podcast</td>
                                <td>Christian von Dockware</td>
                                <td>29.04.2022</td>
                                <td>Online</td>
                                <td><a target="_blank" href="https://www.youtube.com/watch?v=yxlamTd19gU">YouTube Video</a></td>
                            </tr>
                            <tr>
                                <td>Buddy Webinar</td>
                                <td>E-Commerce Automation for DevOps Pros</td>
                                <td>23.02.2022</td>
                                <td>Online</td>
                                <td><a target="_blank" href="https://www.youtube.com/watch?v=zn8fmN2zucg">YouTube Video</a></td>
                            </tr>
                            <tr>
                                <td>German Cypress Community Meetup</td>
                                <td>Design patterns for sustainable automatic E2E Tests</td>
                                <td>23.01.2022</td>
                                <td>Online</td>
                                <td><a target="_blank" href="https://www.youtube.com/watch?v=mNcz2nEn1co">YouTube Video</a></td>
                            </tr>
                            <tr>
                                <td>Leeway Academy</td>
                                <td>Interview Christian Dangl</td>
                                <td>12.01.2022</td>
                                <td>Online</td>
                                <td><a target="_blank" href="https://www.youtube.com/watch?v=BCvp6zENSN8">YouTube Video</a></td>
                            </tr>
                            <tr>
                                <td>Reacticon</td>
                                <td>Rock-Solid CI/CD Pipelines for your Shopware Plugins</td>
                                <td>12.10.2021</td>
                                <td>Online</td>
                                <td><a target="_blank" href="https://www.youtube.com/live/f1LOWUkaQPU?feature=share&t=9556">YouTube Video</a></td>
                            </tr>
                            <tr>
                                <td>Shopware SCD 2021</td>
                                <td>Design patterns for sustainable automatic E2E Tests</td>
                                <td>02.09.2021</td>
                                <td>Online</td>
                                <td>N/A</td>
                            </tr>
                            <tr>
                                <td>DMEXCO</td>
                                <td>ARMEDANGELS – Eine Fair Fashion Brand migriert zu Shopware 6</td>
                                <td>10.11.2020</td>
                                <td>Online</td>
                                <td>https://dmexco.com/de/press/dmexco-2020-findet-rein-digital-statt/</td>
                            </tr>
                            <tr>
                                <td>Shopware United</td>
                                <td>Shopware 6 Internationalization Basics</td>
                                <td>04.11.2020</td>
                                <td>Online</td>
                                <td>N/A</td>
                            </tr>
                            <tr>
                                <td>Shopware Webinar</td>
                                <td>Professionelles Cookie Management</td>
                                <td>16.06.2020</td>
                                <td>Online</td>
                                <td><a target="_blank" href="https://www.youtube.com/watch?v=p4KJSoST35Y">YouTube Video</a></td>
                            </tr>
                            <tr>
                                <td>Shopware SCD 2020</td>
                                <td>Don't fear the Docker</td>
                                <td>20.05.2020</td>
                                <td>Online</td>
                                <td><a target="_blank" href="https://www.youtube.com/watch?v=gy4m6VtjREI">YouTube Video</a></td>
                            </tr>
                            <tr>
                                <td>Shopware Webinar</td>
                                <td>Shopware 6 Promotions für alle!</td>
                                <td>08.04.2020</td>
                                <td>Online</td>
                                <td><a target="_blank" href="https://www.youtube.com/watch?v=TypSdeog2Rc">YouTube Video</a></td>
                            </tr>
                            <tr>
                                <td>ISPO Munich</td>
                                <td>Shopware Success Story: Amplid + Pally'Hi</td>
                                <td>03.07.2019</td>
                                <td>Munich</td>
                                <td>N/A</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<br/>
<br/>
<br/>
<br/>
<br/>
<br/>